body{
	font-family: Arial, Helvetica; 
	font-size: 15px;
	line-height: 1.5;
	padding: o;
	margin: 0;
	background-color: #95a871;
}

	.container{
		width: 80%;
		margin: auto;
		overflow: hidden;

	}

	ul{
		margin: 0;
		padding: 0;

	}

	.button1{
		height: 38px;
		background: #e8491d;
		border: none;
		padding-left: 20px;
		padding-right: 20px;
		color: #ffffff;


	}

	header{
		background: #000000;
		color: #ffffff;
		padding-top: 30px;
		padding-bottom: 70px; 
		border-bottom: #e84918 3px solid;

	}

	header a{
		color: #e84918;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 16px;

	}

	header ul{
		margin:0;
		padding: 0;
	}

	header li{
		float: left;
		display: inline;
		padding: 0 20px 0 20px;

	}

	header #branding{
		float: left;

	}
	header #branding h1{
		margin: 0;
	}

	header nav{
		float: right;
		margin-top: 10px;

	}

	header .highlight{
		color: #ff0000;
		font-weight: bold;
	}
	header a:hover{
		color: #cccccc;
		font-weight:bold;
	}

	#show {
		min-height: 425px;
		background: url('../img/getty.jpg') no-repeat 0px -200px;

	}

	#show h1{
		margin-top: 100px;
		font-size: 55px;
		margin-bottom: 10px;
	}
	#show p{
		font-size: 20px;
		color: #ffffff;
		font-weight: bold;
		
		text-overflow: left;
		text-overflow: : right;
	}

	#newsletter{
		 padding:60px;
		 color:#ffffff;
		 background: #35424a;


	}

	#newsletter h1{
		float: left;

	}

	#newsletter input{
		padding: 4px;
		height: 25px;
		width: 250px;

	}
	#newsletter form{
		float: right;
		margin-top: 15px;
	}

	#newsletter input [type="email"] {
		padding: 4px;
		height: 25px;
		width: 250px;
	}

	#boxes{
		margin-top: 20px;
	}

	#boxes .box{
		float: left;
		text-align: center;
		width: 30%;
		padding-right: 20px;

	}

	footer{
		padding-top: 50px;
	}